<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/static/stilos.css">
</head>
<body>
    <div class="contenedor">
        <h2>Iniciar Sesión</h2>
        <form action="/login" method="POST">
            <table class="formulario">
                <tr>
                    <td><label for="username">Usuario:</label></td>
                    <td><input type="text" name="username" required></td>
                </tr>
                <tr>
                    <td><label for="password">Clave:</label></td>
                    <td><input type="password" name="password" required></td>
                </tr>
            </table>
            <div class="botones">
                <button type="submit">Ingresar</button>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="mensaje" style="color:red;">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </form>
    </div>
</body>
</html>
